@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "../../App.scss";

.galley-container {
    position: relative;
    height: auto;
    padding: 90px 0 0 0;
}

.galery-components{
    background-color: rgba(255, 255, 255, 0.63);
    padding: 0px 15px 10px 15px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 14px;
    @media (max-width: 768px) {
        width: 99%;
        padding: 0;
    }
}
.image-gallery {
    @media (max-width: 768px) {
        position: relative;
        top: 0;
    }
}
.image-gallery-content.fullscreen {
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-gallery-image {
    height: 85vh;
    @media (max-width: 768px) {
        height: auto;
    }
}

.image-gallery-slide-wrapper {
    width: 95%;
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 95%;
    }
}

.image-gallery-icon {
    color: $principalColor;
    filter: none;
    transition: .2s;
    &:hover {
        color: $secondaryColor;
    }
    @media (max-width: 768px) {
        display: flex;
        color: white;  
    }
}
.image-gallery-left-nav {
    @media (max-width: 768px) {
        padding: 2px;
    }
}
.image-gallery-right-nav {
    @media (max-width: 768px) {
        padding: 2px;
    }
}

.image-gallery-thumbnail.active {
    outline: none;
    border: 4px solid #4caf50;
    border-radius: 5px;
}

.gallery-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 35px;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    color: $principalColor;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
    svg {
        margin-left: 14px;
    }

    @media (max-width: 768px) {
        width: 95%;
        top: 0;
        margin-bottom: 14px;
        font-size: 30px;
    }
}